<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sizzo.something"
    android:versionCode="1"
    android:versionName="1.0-SNAPSHOT" >

    <uses-sdk
        android:minSdkVersion="10"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.WAKE_LOCK" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" >
    </uses-permission>
    <!-- Permission required to use the Bluetooth transport -->
    <uses-permission android:name="android.permission.BLUETOOTH" >
    </uses-permission>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" >
    </uses-permission>

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >
        <activity android:name=".PeersActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowserActivity"
            android:label="@string/browserTitle" >
        </activity>
        <activity
            android:name=".WifiActivity"
            android:label="@string/wifiTitle" >
        </activity>
        <activity
            android:name=".PeerChatActivity"
            android:label="@string/peerChatTitle" >
        </activity>
        <activity
            android:name=".MyRolesActivity"
            android:label="@string/myRolesTitle" >
        </activity>
        
        <receiver android:name=".service.ScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>
        <receiver android:name=".service.StartServiceReceiver" >
        </receiver>

        <service android:name=".service.jmdns.DiscoverService" >
        </service>
        <service android:name=".service.alljoyn.PeerServerService" >
        </service>
        <service android:name="org.alljoyn.bus.alljoyn.BundleDaemonService" >
        </service>

        <provider
            android:name=".data.SizzoProvider"
            android:authorities="com.sizzo.data"
            android:multiprocess="true" >
        </provider>
    </application>

</manifest>